* {
    font-family: 'Montserrat', sans-serif;
  }
body {
    margin: 0;
    }
h1 {
    color: #033f5f;
    font-size: 2.5em;
    font-weight: 700;
}
h2 {
    color: #033f5f;
    font-size: 2em;
    font-weight: 700;
}
p, ul, ol {
    color: #747e83;
    font-size: 1.25em;
    line-height: 1.75em;
}
img {
    height: auto;
    max-width: 100%;
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
  }
.stretch {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
  }
.box {
    margin: 0;
    }
.siteid {
    grid-column: 1 / span 12;
    }
.nav {
    grid-column: 1 / span 12;
    }
.hero {
    grid-column: 1 / span 12;
    margin-top: 7em;
    }
.work {
    grid-column: 2 / span 10;
    text-align: center;
    }
.about {
    grid-column: 2 / span 10;
    }
.profile {
    grid-column: 2 / span 10;
    text-align: center;
    }
.quote {
    grid-column: 2 /span 10;
    text-align: center;
    padding: 1em 0 2em 0;
    }
footer {
    grid-column: 1 / span 12;
    text-align: center;
    }
.spacer {
    grid-column: 1 / span 12;
    padding: 1em 0;
    }
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
    margin: 1em 0
  }  



header {
    background-color: #007CBC;
    border-bottom-color: #e3f4fd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-shadow: 0px 5px 25px #033f5f;
    z-index: 100;
    position: fixed;
    width: 100%;
}
.yellow {
    background-color: #F5BA36;
}
.siteid {
     text-align: center;
}
.siteid h1 {
    margin: 0;
    padding-top: .25em;
    font-weight: 700;  
}
.siteid h1 a {
    color: #fff;
    text-decoration: none;
}
.pull h3 {
        font-size: 2.5em;
        color: white;
        font-weight: 700;
        text-shadow: 0px 0px 10px #666;
        margin-bottom: .25em;
    }
.pull p {
        font-size: 1em;
        margin: 0;
        color: #fff;
        text-shadow: 0px 0px 10px #666;
        font-style: italic;
    }
.profile img {
    margin: 0;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1.5em;
    margin: .5em 3.5em;
    border-top: #666 solid thin;
}
footer ul {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: center; 
    list-style: none;
    margin: 0; 
    padding: 0;
}
footer ul a {
  text-decoration: none;
  display: block;
  padding: 0 .5em;
  color: #333;
}
.fas, .fab {
    color: #747e83;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    display: flex; 
  	flex-wrap: wrap; 
  	justify-content: center; 
    }
nav li {
    flex-grow: 1;
    }
nav li a {
    color:#e3f4fd;
    text-decoration:none;
    display:block;
    text-align:center;
    padding: .5em 1em;
    transition: background-color .2s ease-in-out;
    }
nav li a:hover {
    color: #fff;
    background-color: #F5BA36;
    }


/* CSS for Screens larger than 576px */ 

@media screen and (min-width: 655px) {
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
  }
.stretch {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
  }
.box {
    margin: 0;
    }
.siteid {
    grid-column: 1 / span 6;
    }
.nav {
    grid-column: 7 / span 6;
    }
.hero {
    grid-column: 1 / span 12;
    margin-top: 6em;
    }
.work {
    grid-column: 1 / span 12;
    text-align: center;
    }
.about {
    grid-column: 2 / span 7;
    }
.profile {
    grid-column: 9 / span 3;
    }
.quote {
    grid-column: 4 /span 6;
    text-align: center;
    padding: 1em 0 2em 0;
    }
footer {
    grid-column: 1 / span 12;
    text-align: center;
    }
.spacer {
    grid-column: 1 / span 12;
    padding: 3em 0;
    }
.portfolio {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin: 1em 0
  }  
.siteid {
    display: flex; 
    align-items: center;
    }
.siteid h1 {
    margin: 0;
    padding-left: .5em;
    font-weight: 700;
    }
.pull h3 {
        font-size: 3em;
        color: white;
        font-weight: 700;
        text-shadow: 0px 0px 10px #666;
        margin-bottom: .25em;
    }
.pull p {
        font-size: 1.25em;
        margin: 0;
        color: #fff;
        text-shadow: 0px 0px 10px #666;
        font-style: italic;
    }
.profile img {
    margin: 6em 0 0 0;
}
    
/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    display: flex; 
  	flex-wrap: wrap; 
  	justify-content: center; 
    }
nav li {
    flex-grow: 1;
    }
nav li a {
    color:#e3f4fd;
    text-decoration:none;
    display:block;
    text-align:center;
    padding: 1.75em 1em;
    transition: background-color .2s ease-in-out;
    }
nav li a:hover {
    color: #fff;
    background-color: #F5BA36;
    }
}/*Close Media Query */
